body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #010101;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-size: 200%;
    background-position: center;
    background-image: url('./Images/image.jpg');
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(12, 12, 12, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    backdrop-filter: blur(30px);
}

.profile {
    margin-bottom: 5px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    margin: 10px 0 0 0;
    font-size: 24px;
}

.header__description {
    font-weight: 100;
    font-size: 1rem;
}

.join {
    text-align: center;
    margin: 20px auto;
    background: #4a494980;
    color: #fff;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 0 25px rgba(44, 115, 67, 0.4);
}

.join-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.join-desc {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 20px;
    line-height: 1.6;
}

.join-image {
    margin: 20px 0;
}

.promo-img {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.join-btn {
    display: inline-block;
    background: linear-gradient(90deg, #ff7b00, #ffb400);
    color: #fff;
    padding: 14px 26px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.join-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #ffb400, #ff7b00);
}


.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-link {
    text-decoration: none;
}

.contact-item {
    border-radius: 10px;
    padding: 20px;
    margin: 7px 0 ;
    display: flex;
    align-items: center;
    background-color: #4a494980;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1);
    color: white;
}

.contact-item:hover {
    box-shadow: 20px 20px 30px rgba(44, 115, 67, 0.4);
    transform: scale(1.04);
}


.icon {
    width: 25px;
    height: auto;
}

.telegram {
    width: 50px;
    margin-left: -12px;
}

#icon {
    margin-left: 20px; 
}

.contact-item span {
    font-weight: 100;
    flex: 0.95; 
    text-align: center; 
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact-name {
    font-weight: bold;
}

.promo-img {
    width: 100%;
    max-width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.promo-img.fade-out {
    opacity: 0;
}


@media (min-width: 768px) {
    .contact-item {
        width: 50%; 
        margin-left: auto; 
        margin-right: auto; 
    }
    
}
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(30px);
}

.loader {
    height: 15px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(farthest-side,#fefefe 90%,#ffffff00);
    background: 
        var(--_g) left, 
        var(--_g) right;
    background-size: 25% 100%;
    display: grid;
}
.loader:before,
.loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: #edeced;
    animation: l49 1s infinite linear;
}
.loader:after {
    transform-origin: 200% 50%;
    --s:-1;
    animation-delay: -.5s;
}

@keyframes l49 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
}
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    
}

.reveal.reveal-active {
    opacity: 1;
    transform: none;
}

